body{ background-color: #ef8172;}
.btn {width: 200px;}
.navbar-brand {margin-top: 10px;
    margin-left:21%;}

*/Center LOGO 4 Contact Page /*
/* .navfff {
    display: flex; 
    justify-content: center; 
    align-items: center; 
} */ 
